<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs %>

<h3>About me</h3>

<p>Hi, my fav food is <%=favFood%></p>
</body>
</html>
